version: 2
jobs:
  build:
    docker:
      - image: perl:latest
    steps:
      - checkout
      - run: cpanm Carton
      - restore-cache:
          keys:
            - carton-{{ checksum "cpanfile.snapshot" }}
      - run: carton install --deployment
      - save-cache:
          key: carton-{{ checksum "cpanfile.snapshot" }}
          paths:
            - local
      - persist_to_workspace:
          root: .
          paths: 
            - './*'
  test:
    docker:
      - image: perl:latest
    steps:
      - run: cpanm Carton
      - attach_workspace:
          at: .
      - run: carton exec -- prove -lr t 
workflows:
    version: 2
    build-deploy:
        jobs:
            - build
            - test:
                requires:
                    - build
